/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
/* For testing only */

/*
:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #FFF;
}*/

/*above is for testing only*/

/*Clearfix*/

.clearfix:before
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*END UTILITY*/


/*BEGIN ALBUM ART*/

body {
  background-color: #262626;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: .01em;
}

/*BEGIN NAV*/
header {
  height: 93px;
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexNavWrap {
  width: 80vw;
  height: 93px;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
}
.logo img {
  width: 306px;
}
#logo {
  width: 306px;
  opacity: 1.0;
  align-self: center;
  margin: 0;
}
.flexNavWrap ul {
  font-size: .85em;
  line-height: 1.5em;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flexNavWrap li {
  display: flex;
  align-items:center;
  margin-left: 1em;
}
.flexNavWrap a {
  color: white;
  text-decoration: none;
  display: flex;
}
.flexNavWrap img {
  align-self: center;
  margin: 0 .5em;
  opacity: 0.25;
}
.register {
  padding: .6em 1.1em;
  border-radius: 1.5em;
  background-color: #CC3333;
}

/*BEGIN ALBUM MAIN CONTENT*/

.flexAlbumWrap {
  width: 80vw;
  margin: 0 auto;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}
.albumRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.album {
  width: 100%;
  height: 100%;
  margin: 0 1em 1em 0;
}
.albumRow > img:last-child {
  margin-right: 0;
}












/*/xx*/
